@font-face {
	font-family: 'Sometype Mono';
	src: url('public/fonts/Sometype Mono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Sometype Mono';
	src: url('public/fonts/Sometype Mono-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Sometype Mono';
	src: url('public/fonts/Sometype Mono-500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Sometype Mono';
	src: url('public/fonts/Sometype Mono-500italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Sometype Mono';
	src: url('public/fonts/Sometype Mono-600.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Sometype Mono';
	src: url('public/fonts/Sometype Mono-600italic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Sometype Mono';
	src: url('public/fonts/Sometype Mono-700.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Sometype Mono';
	src: url('public/fonts/Sometype Mono-700italic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
