.PianoControls {
	/* background: var(--gray-4); */
}

.OctaveControls {
	position: relative;
}

.OctaveControlsTextField {
	max-width: 60px;
	border-radius: 0;
	margin-left: -3px;
	margin-right: -3px;
	box-shadow: none;
}

.OctaveLabelButton {
	border-radius: 4px 0 0px 4px;
	margin-right: -2px;
	pointer-events: none;
	background: black;
	z-index: 10;
	border-radius: 0px;
	margin-left: -2px;
}

.OctaveIncrementButton {
	border-radius: 4px 0 0 4px;
}

.OctaveDecrementButton {
	border-radius: 0 4px 4px 0;
}
