.ChordBlockFrame {
	min-width: 244px;
	max-width: 300px;
	width: 244px;
	height: 152px;
	position: relative;
	padding-right: 0.5px;
	overflow: hidden;
	border-radius: 7px;
}

.ChordBlockFrame.ProgressionChordBlock {
	height: 130px;
	min-width: 220px;
	max-width: 220px;
	width: 220px;
}

.ChordBlockColoredBackdrop {
	background: var(--backdropColor);
	font-weight: 600;
	border-radius: 4px;
	width: 100%;
	height: 100%;
	padding-top: 4px;
}

.ChordBlockFrame.ProgressionChordBlock .ChordBlockContent {
	height: 88px;
}

.ChordBlockContent {
	padding: 16px;
	padding-right: 36px;
	padding-top: 12px;
	height: 108px;
	width: 100%;
	border-radius: 4px;
	background: var(--gray-a3);
}

.ChordBlockTitleRow {
	padding-left: 3px;
	padding-right: 7px;
	height: 24px;
}

.ChordBlockTitle {
	opacity: 0.7;
	letter-spacing: 1px;
	max-width: 140px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ChordBlockSubtitle {
}

.NotesList {
}

.ChordBlockSymbol {
	font-weight: 700;
	letter-spacing: 2px;
}

.Note {
	background: var(--focus-6);
	box-shadow: inset 0 0 0 1px var(--gray-2);
}

.NoteBlackKey {
	background: var(--accent-1);
	/* border: 1px solid var(--slate-9); */
}

.NoteText {
	color: var(--slate-a11);
}

.NoteTextBlackKey {
	color: var(--slate-a11);
}

.ActionIcon {
}

.ChordBlockActionsColumn {
	position: absolute;
	right: 20px;
	bottom: 12px;
	height: 108px;
}

.ChordBlockActionIcons {
	justify-content: space-evenly;
	height: 108px;
}

.ChordBlockFrame.ProgressionChordBlock .ChordBlockActionsColumn {
	position: absolute;
	right: 20px;
	bottom: 12px;
}

.ChordBlockFrame.ProgressionChordBlock .ChordBlockActionIcons {
	justify-content: space-evenly;
	height: 89px;
}

.ChordBlockFrame.ChordKeyBindBlock {
	height: 120px;
	min-width: 140px;
	max-width: 140px;
	width: 140px;
}

.ChordBlockFrame.ChordKeyBindBlock .ChordBlockContent {
	padding-right: inherit;
	max-height: 78px;
	align-items: center;
	justify-content: center;
	padding-top: 16px;
}

.ChordBlockFrame.ChordKeyBindBlock .ChordBlockSymbol {
	font-size: 36px;
}
