.ReactPiano__Keyboard {
	max-height: 80px;
	position: absolute;
	bottom: 3px;
}

.ReactPiano__Key--active.ReactPiano__Key--natural {
	background-color: #bc7373 !important;
}

.ReactPiano__Key.ReactPiano__Key--natural {
	background: var(--accent-a7);
	border: none;
	box-shadow: inset 0 0 0 1px var(--accent-1);
}

.ReactPiano__Key.ReactPiano__Key--accidental {
	background: var(--gray-3);
	border: none;
	box-shadow: inset 0 0 0 1px var(--accent-a8);
	bottom: 2px;
}

.ReactPiano__NoteLabel--accidental {
	color: var(--gray-10);
}

.ReactPiano__NoteLabel--natural {
	color: var(--gray-11);
}

.ReactPiano__Key {
	font-size: var(--font-size-2);
	line-height: var(--line-height-2);
	letter-spacing: var(--letter-spacing-2);
	color: var(--accent-a11) !important;
	border-radius: max(var(--radius-2), var(--radius-full));
}
