.ChordBlock {
	width: 240px;
	min-width: 240px;
}

.ChordProgression .ChordBlock {
	height: 170px;
}

.ChordBlock {
	opacity: 1 !important;
	user-select: none;
	transition: opacity 0.3s ease;
}

.ChordBlock .addIcon,
.ChordBlock .dotsIcon {
	transition: opacity 0.2s ease;
	opacity: 0;
}

.ChordBlocks:has(.ChordBlock:hover) .ChordBlock:not(:hover) {
	opacity: 0.65 !important;
}

.ChordBlock:hover {
	opacity: 1 !important;
}

.ChordBlock:hover .addIcon,
.ChordBlock:hover .dotsIcon {
	opacity: 1;
}

.ChordBlocks {
	max-width: 100%;
	flex-wrap: wrap;
}

.coloredCircle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--gray-9);
}

.addIcon {
	cursor: pointer;
}

.ChordBlock {
	width: 240px;
	height: 130px;
	border: 1px solid var(--gray-9);
	border-radius: 4px;
}
